@import "../utils/variable";
@import "../utils/mixins";

.cloud {
  @include cloud;
  width: 22px;
  height: 20px;
  // background: blue;
  left: 70%;
  top: 9%;
  &::before {
    content:"";
    @include cloud;
    width: 22px;
    height: 20px;
    left: 65%;
    top: -30%;
  }
  &::after {
    content:"";
    @include cloud;
    width: 20px;
    height: 20px;
    // background: red;
    left: 65%;
    top: 39%;
  }
}

.bird1 {
  @include bird;
  transform: scale(0.4);
  left: 60%;
  top: 18%;
}
.bird2 {
  @include bird;
  transform: scale(0.25);
  left: 57%;
  top: 22%;
}
.bird3 {
  @include bird;
  transform: scale(0.33);
  left: 54%;
  top: 14%;
}

.star1 {
  @include star;
  width: 3px;
  height: 3px;
  left: 44%;
  top: 65%;
}

.star2 {
  @include star;
  width: 7px;
  height: 7px;
  left: 60%;
  top: 30%;
}

.star3 {
  @include star;
  width: 5px;
  height: 5px;
  left: 20%;
  top: 60%;
}

.star4 {
  @include star;
  width: 5px;
  height: 5px;
  left: 64%;
  top: 80%;
}

.star5 {
  @include star;
  width: 3px;
  height: 3px;
  left: 33%;
  top: 36%;
}
