@import "./variable";



@mixin highlight-section {
  background: rgba(255, 255, 255, 0.29);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.2px);
  -webkit-backdrop-filter: blur(4.2px);
  border: 1px solid rgba(255, 255, 255, 0.26);
  margin:3rem 4rem;
  transition: 1s $cubic-bezier 100ms;
}

@mixin dark-section{
  box-shadow: $dark-secondary 0px 0px 30px 1px;
  border-radius: 16px;
  background: rgba(197, 143, 233, 0.5);
  margin:3rem 4rem;
  border: 1px solid rgba(197, 143, 233, 0.2);
  transition: 1s $cubic-bezier 100ms;
}



@mixin flex-center{
  padding:1rem;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:flex-end;
  gap:2rem;
}



@mixin sun{
  background:$color-sun;
  box-shadow: 0px 0px 12px 7px rgba(255,210,31,1);
  -webkit-box-shadow: 0px 0px 12px 7px rgba(255,210,31,1);
  -moz-box-shadow: 0px 0px 12px 7px rgba(255,210,31,1);
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 100px;
}

@mixin moon{
  background-image:url(../style/img/moon.svg);
  // box-shadow: 0px 0px 5px 3px $color-secondary-light;
  // -webkit-box-shadow: 0px 0px 5px 3px $color-secondary-light;;
  // -moz-box-shadow: 0px 0px 5px 3px $color-secondary-light;
  position: absolute;
  height: 101px;
  width: 101px;
  border-radius: 100px;
}


@mixin sunbg{
  background-color: #40b5f8;
  background-image: radial-gradient(circle, #aad6f5 70%, transparent 30%);
  background-size: 50px 150px;
  background-position-y: -55px;
  background-repeat: repeat-x;
  height:100%;
  width:100%;
  border-radius: 100px;
  position:absolute;
}

@mixin moonbg{
  background: linear-gradient(#242549, #835eea);
  height:100%;
  width:100%;
  border-radius: 100px;
  position:absolute;
}




@mixin sunbgv3{
  background-image: url(../style/img/sunbg.svg)!important;
  background : #e1edf7;
  height:100%;
  width:100%;
  border-radius: 100px;
  position:absolute;
}

@mixin cloud {
  position: absolute;
  border-radius: 50%;
  background: rgb(241, 248, 248);
}

@mixin bird {
  position: absolute;
  width: 60px;
  height: 20px;
  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 31px;
    height: 20px;
    border: 1.5px solid ;
    border-color: rgb(116, 115, 115) transparent transparent transparent;
    border-radius: 50%;
  }

  &::before {
    left: 0;
    transform: rotate(30deg);
  }

  &::after {
    right: 0;
    transform: rotate(-30deg);
  }
}

@mixin star {
  position: absolute;
  background: white;
  transform: rotate(45deg);
  // border-radius: 2px; // Slight rounding helps the glow look softer
  box-shadow: 
  0 0 5px 1px #a27cf5,
  0 0 10px 2px rgba(162, 124, 245, 0.6),
  0 0 20px 4px rgba(162, 124, 245, 0.3); 
}

