


$color-primary-light: rgba(247, 189, 214, 1);
$color-primary: rgba(247, 110, 174, 1);
$color-warm: rgba(255, 185, 143, 1);
$color-secondary-light: rgba(199, 204, 236, 1);
$color-secondary: rgba(141, 201, 211, 1);
$color-sun:rgba(255,210,31,255);

$dark-primary:rgba(194,121,245,1);
$dark-secondary:rgba(188, 113,236,1);
$dark-background:#090013;
// animations

$cubic-bezier:cubic-bezier(0.68, 0.25, 0.265, 1);

