


$color-primary-light: rgba(247, 189, 214, 1);
$color-primary: rgba(247, 110, 174, 1);
$color-warm: rgba(255, 185, 143, 1);
$color-secondary-light: rgba(199, 204, 236, 1);
$color-secondary: rgba(141, 201, 211, 1);
$color-sun:rgba(255,210,31,255);

